/* =========================================================
   SIDEBAR & NAVEGAÇÃO
   ========================================================= */
.sidebar {
  width: var(--sidebar-width, 250px);
  height: 100vh;
  padding: 50px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  background-color: #0c1116;
  border-right: 10px solid #222b33;
  gap: 5%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-app-region: drag;
}

.sidebar ul {
  list-style: none;
}

/* --- Links do Menu --- */
.sidebar ul li a {
  position: relative;
  font-size: 1.2rem;
  color: #bdc3c7;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  margin-bottom: 5px;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    padding-left 0.2s ease-in-out;
  -webkit-app-region: no-drag;
}

.sidebar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: radial-gradient(
    circle,
    #838487 0%,
    #b3b6b5 40%,
    #b3b6b5 70%,
    #595959 100%
  );
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.02);
  padding-left: 15px;
  cursor: pointer;
}

.sidebar ul li a:hover::after,
.sidebar ul li a.active::after {
  width: 100%;
}

/* --- Elementos da Sidebar --- */
#logo {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  transition: transform 0.3s ease;
  -webkit-app-region: no-drag;
}

.user-profile {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #222b33;
  color: #bdc3c7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: no-drag;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.user-info i {
  font-size: 1.5rem;
}

.edit-user-btn {
  color: #bdc3c7;
  font-size: 1.2rem;
  transition:
    color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.edit-user-btn:hover {
  color: #f39c12;
  transform: translateX(2px);
}
